
#ejercicioUno {
    display: block;
    text-align: center; 
    background: red;
}

#ejercicioDos {
    display: none;
}

#ejercicioTres{
	position: relative;
	left: 200px;
	top: 100px;
}

#ejercicioCuatro{
	position: fixed;
	top: 0;
	left: 0;
}


#ejercicioCinco{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#ejercicioCinco{
  flex-direction: row-reverse;
}



#ejercicioSiete{
  align-items: center;
  flex-direction:column-reverse;
}