	h1 {
		color:green;
	}

	img{
		width:400px;
		height: 220px;
	}

	#thirdDiv{
		height: 500px;
		width: 600px;
		background-color: green;
		padding: 50px;
		border: 10px solid blue;
	}

	#spanId{
		font-size: 20px;
		margin: 50px;
	}